

NET "fout[7]" LOC = F11;
NET "fout[6]" LOC = E11;
NET "fout[5]" LOC = D11;
NET "fout[4]" LOC = C11;
NET "fout[2]" LOC = A11;
NET "fout[1]" LOC = E10;
NET "fout[0]" LOC = D10;
NET "fout[3]" LOC = B11;
NET "ram1data[7]" LOC = K13;
NET "ram1data[6]" LOC = K12;
NET "ram1data[5]" LOC = J17;
NET "ram1data[4]" LOC = J16;
NET "ram1data[3]" LOC = J15;
NET "ram1data[2]" LOC = J14;
NET "ram1data[1]" LOC = J13;
NET "ram1data[0]" LOC = J12;
NET "sw[7]" LOC = J6;
NET "sw[6]" LOC = J7;
NET "sw[5]" LOC = K2;
NET "sw[4]" LOC = K7;
NET "sw[3]" LOC = M1;
NET "sw[2]" LOC = N1;
NET "sw[1]" LOC = N2;
NET "sw[0]" LOC = R1;
NET "clk" LOC = U9;
NET "data_ready" LOC = A16;
NET "en1" LOC = R4;
NET "en2" LOC = U1;
NET "ram1en" LOC = M15;
NET "ram1oe" LOC = M16;
NET "ram1we" LOC = M18;
NET "rdn" LOC = C14;
NET "rst" LOC = U10;
NET "tbre" LOC = D14;
NET "tsre" LOC = N9;
NET "wrn" LOC = U5;
NET "state_show[7]" LOC = A12;
NET "state_show[6]" LOC = E12;
NET "state_show[5]" LOC = F12;
NET "state_show[4]" LOC = A13;
NET "state_show[3]" LOC = B13;
NET "state_show[2]" LOC = D13;
NET "state_show[1]" LOC = E13;
NET "state_show[0]" LOC = A14;
